# ch-wiki 后端 API 基础地址
NUXT_PUBLIC_API_BASE_URL=http://127.0.0.1:7003

# 上传文件基础地址
NUXT_PUBLIC_UPLOAD_BASE_URL=http://127.0.0.1:7003

# OAuth2 登录地址（JSON 格式）
NUXT_PUBLIC_OAUTH2_LOGIN_URLS={"gitee":"/oauth2/authorization/gitee","github":"/oauth2/authorization/github"}

# 站点名称
NUXT_PUBLIC_SITE_NAME=ch-wiki
